@media (min-width: 0px) and (max-width: 500px) {
  .footer_container {
    padding: 2rem;

    .footer_row_2 {
      margin-top: 3rem;

      .footer_follow_title {
        font-size: 1.5rem;
      }

      .footer_follow_text_p {
        font-size: 1.2rem;
        padding-right: 5%;
      }

      .footer_link {
        margin-top: 0.2rem;
        a {
          font-size: 1rem;
        }
      }
    }
  }
}

// Tablet View

@media (min-width: 501px) and (max-width: 767px) {
    .footer_container {
        padding: 4rem;
    
        .footer_row_2 {
          margin-top: 3rem;
    
          .footer_follow_title {
            font-size: 2rem;
          }
    
          .footer_follow_text_p {
            font-size: 1.5rem;
           
          }
    
          .footer_link {
            margin-top: 0.2rem;
            a {
              font-size: 1rem;
            }
          }
        }
      }
}
