.Contact_container {
  margin-top: 10rem;
}

.Contact_container .contact_intro {
  text-align: right;
}

.Contact_container .contact_intro .contact_wrapper .contact_info {
  font-size: 2rem;
  font-family: var(--lato);
  opacity: 0.7;
}

.Contact_container .contact_intro .contact_wrapper .contact_text {
  font-size: 4rem;
  font-family: var(--dm);
  font-weight: 900;
}

.Contact_container .contact_details {
  margin: 2rem 0;
}

.Contact_container .contact_details .contact_data {
  font-size: 3rem;
  font-family: var(--dm);
  font-weight: 700;
  text-align: left;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .Contact_container .contact_details .contact_data {
    font-size: 1.5rem;
  }
}

.Contact_container .contact_form {
  background-color: #333;
  margin-top: 5rem;
  margin-bottom: -5rem;
  padding: 5rem 2rem;
}

@media screen and (max-width: 768px) {
  .Contact_container .contact_form {
    padding: 1rem .2rem;
  }
}

.Contact_container .contact_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
  width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px;
  font-family: var(--lato);
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 500px) {
  .Contact_container .contact_form form {
    width: 350px;
    padding: 0.8rem;
  }
}

.Contact_container .contact_form form .contact_form_input,
.Contact_container .contact_form form textarea {
  width: 80%;
  padding: 0.5rem;
  border: none;
  margin: 1rem auto;
  border-radius: 5px;
  font-size: 1.2rem;
}

.Contact_container .contact_form .contact_form_submit:focus, .Contact_container .contact_form .contact_form_input:focus, .Contact_container .contact_form textarea:focus {
  outline: none;
}

.Contact_container .contact_form .contact_form_input::-webkit-input-placeholder, .Contact_container .contact_form textarea::-webkit-input-placeholder {
  font-family: var(--dm);
  color: var(--red);
  font-size: 1rem;
}

.Contact_container .contact_form .contact_form_input:-ms-input-placeholder, .Contact_container .contact_form textarea:-ms-input-placeholder {
  font-family: var(--dm);
  color: var(--red);
  font-size: 1rem;
}

.Contact_container .contact_form .contact_form_input::-ms-input-placeholder, .Contact_container .contact_form textarea::-ms-input-placeholder {
  font-family: var(--dm);
  color: var(--red);
  font-size: 1rem;
}

.Contact_container .contact_form .contact_form_input::placeholder, .Contact_container .contact_form textarea::placeholder {
  font-family: var(--dm);
  color: var(--red);
  font-size: 1rem;
}

.Contact_container .contact_form .contact_form_submit {
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--red);
  font-family: var(--dm);
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
}

.Contact_container .contact_form .contact_form_submit:hover {
  background-color: var(--black);
  border: 2px solid var(--white);
}
/*# sourceMappingURL=Contact.module.css.map */