.About_container {
  margin-top: 10rem;

  .about_intro {
    text-align: right;

    .about_col {
      padding-right: 10%;

      .about_title {
        font-size: 2rem;
        font-family: var(--lato);
        opacity: 0.7;
      }

      .about_brand {
        font-size: 4rem;
        font-family: var(--dm);
        font-weight: 900;
      }

      .about_summary {
        font-size: 1.5rem;
        font-family: var(--lato);
        padding-left: 40%;

        @media screen and (max-width: 768px) {
          padding-left: 0;
          font-size: 1.2rem;
        }
      }
    }
  }

  // Video

  .about_video {
    width: 98%;
    margin: 0 auto;
  }
}


// promise

.about_approach {
   padding: 5rem 0;
    background-color: var(--black);

    .approach_row {
        width: 80%;
        margin: 0 auto;

        .approach_promise {
          .approach_title {
            color: var(--white);
            font-family: var(--dm);
            font-weight: 900;
          }

          .approach_text {
            color: var(--white);
            font-family: var(--lato);
            font-size: 1.2rem;
            opacity: .7;
          }
        }
    }
}

// CTA 

.about_cta {
  background-color: #333;
  margin-top: 5rem;
  padding: 4rem 20%;
  margin-bottom: -5rem;

  .cta_text {
    text-align: center;

    .cta_title {
      color: var(--white);
      font-family: var(--dm);
    }

    .cta_button {
      margin-top: 2rem;
      font-family: var(--lato);
      font-weight: 900;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 5px;
      background-color: var(--red);
      cursor: pointer;

      &:hover {
        opacity: .7;
      }

      a {
        color: var(--white);
      }
    }
  }
}
